.main-nav {
    background-color: thistle;
    border-radius: 3px;
    color: purple;
    display: flex;
    font-family: sans-serif;
    padding: 1em;
}

.main-nav > ul {
    display: flex;
    flex: 3;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-right: 1em;
}

.main-nav > form {
    display: flex;
    flex: 1;
    flex-direction: flex-end;
    margin: 0;
}

.main-nav input {
    flex: 1;
}

.main-nav button {
    background-color: white;
    border-radius: 1em;
    border: 0;
    color: purple;
    padding: 0 1em;
    margin-left: 1em;
}