.main-nav {
    background-color: rosybrown;
    border-radius: 3px;
    color: white;
    display: flex;
    font-family: sans-serif;
    padding: 1em;
}

.main-nav > ul {
    display: flex;
    flex: 3;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-right: 1em;
}

.main-nav > form {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0;
}

.main-nav input {
    flex: 1;
}

.main-nav button {
    background-color: white;
    border-radius: 1em;
    border: 0;
    color: rosybrown;
    padding: 0 1em;
    margin-left: .5em;
}

@media screen and (max-width: 575px) {
    .main-nav {
        flex-direction: column;
    }

    .main-nav > ul {
        margin-bottom: 1em;
    }
}